<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget widget-about">
                            <div class="logo-ft">
                                <a href="#" title="">
                                    Dailylist
                                </a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="widget widget-categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="one-half">
                                <li>
                                    <a href="#" title="">Foot</a>
                                </li>
                                <li>
                                    <a href="#" title="">Hotel</a>
                                </li>
                                <li>
                                    <a href="#" title="">Play</a>
                                </li>
                                <li>
                                    <a href="#" title="">Automove</a>
                                </li>
                            </ul>
                            <ul class="one-half">
                                <li>
                                    <a href="#" title="">Shop</a>
                                </li>
                                <li>
                                    <a href="#" title="">Fitness</a>
                                </li>
                                <li>
                                    <a href="#" title="">Nightlife</a>
                                </li>
                                <li>
                                    <a href="#" title="">Park</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div><!-- /.widget-categories -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="widget widget-contact">
                            <h3 class="widget-title">Contact</h3>
                            <ul class="contact-infomation">
                                <li class="address">
                                    PO Box 16122 Collins Street West Victoria 8007 Australia
                                </li>
                                <li class="phone">
                                    (84) 90 532 9119
                                </li>
                                <li class="email">
                                    Dailist.support@gmail.com
                                </li>
                            </ul>
                        </div><!-- /.widget-contact -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="widget widget-map">
                            <img src="<%= asset_path 'page/bg-ft.png'%>" alt="">
                        </div><!-- /.widget-map -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /footer -->